<template>
    <div class="container">
        <h2>Articles</h2>
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-between">
                <div class="d-flex">
                    <li v-bind:class="[{disabled:!pagination.prev_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchArticles(pagination.prev_page_url)">Previous</a></li> 
                    <li class="page-item"><a class="page-link text-dark" href="#">Page {{pagination.current_page}} of {{pagination.last_page}}</a></li> 
                    <li v-bind:class="[{disabled:!pagination.next_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchArticles(pagination.next_page_url)">Next</a></li>
                </div>
                <div class="d-flex">
                    <button class="btn btn-primary btn-block ml-3" data-toggle="modal" data-target="#addModal">Add</button>
                    <select class="custom-select" v-model="selected" @change="onChange()">
                        <option disabled value="">Please select one</option>
                        <option value="All">All</option>
                        <option v-for="category in categories" v-bind:key="category.id">{{category.name}}</option>
                    </select>
                </div>
            </ul>
        </nav>
        <div class="card card-body mb-2" v-for="article in articles" v-bind:key="article.id">
            <h5>{{article.category}}</h5>
            <h6>Author:{{article.author}}</h6>
            <h2 class="text-center">{{article.title}}</h2>

            <div class="col-md-12 text-center" v-if="article.photo">
                <img v-bind:src="'/images/'+article.photo" alt="Responsive image" class="img-responsive img-fluid">
            </div>
            <hr>
            <div
             class="d-flex flex-row justify-content-between">
                <button @click="editArticle(article)" class="btn btn-success col-md-3" data-toggle="modal" data-target="#addModal">Edit</button>
                <button @click="viewDetails(article)" class="btn btn-info col-md-3 mr-2" data-toggle="modal" data-target="#viewModal">View Details</button>
                <button @click="deleteArticle(article.id)" class="btn btn-danger col-md-3">Delete</button>
            </div>
            
        </div>
        <!-- Add/Edit Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-if="!edit">Add Article</h5>
                    <h5 class="modal-title" v-else>Edit Article</h5>
                    <button type="button" @click="closeDetails()" class="close" data-dismiss="modal"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="addArticle" class="mb-3">
                    <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Title" v-model="article.title">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Body" v-model="article.body"></textarea>
                            </div>
                            <div class="form-group">
                                <select class="custom-select" v-model="selected" >
                                <option disabled value="">Please select one</option>
                                <option v-for="category in categories" v-bind:key="category.id">{{category.name}}</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-md-3" v-if="article.photo">
                                    <img :src="article.photo" class="img-responsive" height="70" width="90">
                                </div>
                                <div class="col-md-9 mb-3">
                                    <input type="file" v-on:change="onImageChange" class="form-control">
                                </div>
                            </div>
                            
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeDetails()">Close</button>
                        <button type="submit" class="btn btn-secondary">Save</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <!-- View Details -->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View Article</h5>
                    
                    <button type="button" class="close" data-dismiss="modal" @click="closeDetails()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="addArticle" class="mb-3">
                    <div class="modal-body">
                        <div class="card card-body mb-2">
                            <h5>{{article.category}}</h5>
                            <h6>Author:{{article.author}}</h6>
                            <h2 class="text-center" >{{article.title}}</h2>

                            <div class="col-md-12 text-center" v-if="article.photo">
                                <img v-bind:src="'/images/'+article.photo" alt="Responsive image" class="img-responsive img-fluid">
                            </div>
                            <h2 class="mt-4">{{article.body}}</h2>
                            <hr>
                                                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeDetails()">Close</button>
                        <button type="submit" class="btn btn-secondary">Save</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                articles:[],
                article:{
                    id:'',
                    title:'',
                    body:'',
                    category:'',
                    author:'',
                    photo:''
                },
                categories:[],
                category:{
                    id:'',
                    name:''
                },
                article_id:'',
                image:'',
                pagination:{},
                edit:false,
                selected:''
            }
        },
        created(){
            this.fetchCategories();
            this.fetchArticles();
        },
        methods:{
            fetchCategories(){
                
                let vm=this;
                fetch('/api/categories')
                .then(res => res.json())
                .then(res =>{
                    this.categories  = res.categories;
                    console.log(res.categories);
                })
                .catch(err=>console.log(err));
            },
            fetchArticles(page_url){
                this.article.author = this.$auth.user().name;
                this.article.category = this.selected;
                page_url = page_url || '/api/getArticles'
                let vm=this;
                fetch(page_url,{
                        method:'post',
                        body:JSON.stringify(this.article),
                        headers:{'content-type':'application/json'
                        }
                    })
                .then(res => res.json())
                .then(res =>{
                    this.articles  = res.data;
                    vm.makePagination(res.meta, res.links);
                })
                .catch(err=>console.log(err));
            },
            makePagination(meta,links){
                let pagination = {
                    current_page:meta.current_page,
                    first_page:meta.from,
                    last_page:meta.last_page,
                    first_page_url:links.first,
                    last_page_url:links.last,
                    next_page_url:links.next,
                    prev_page_url:links.prev
                }
                this.pagination = pagination;
            },
            deleteArticle(id){
                
                if(confirm('Are You Sure?')){
                    fetch(`api/article/${id}`,{
                        method: 'DELETE'
                    })
                    .then(res=>res.json())
                    .then(res=>{
                        alert('Article Removed')
                        this.fetchArticles();
                    })
                    .catch(err=>console.log(err))
                }
            },
            addArticle(){
                if(this.edit === false){
                    this.article.author = this.$auth.user().name;
                    this.article.category = this.selected;
                    fetch('api/article',{
                        method:'post',
                        body:JSON.stringify(this.article),
                        headers:{'content-type':'application/json'
                        }
                    })
                    .then(res=>res.json())
                    .then(data=>{
                        this.article.title ='';
                        this.article.body='';
                        //this.article.author='';
                        alert("Article Added");
                        this.fetchArticles();
                    })
                    .catch(err=>console.log(err))
                }else{
                    fetch('api/article',{
                        method:'put',
                        body:JSON.stringify(this.article),
                        headers:{'content-type':'application/json'
                        }
                    })
                    .then(res=>res.json())
                    .then(data=>{
                        this.article.title ='';
                        this.article.body='';
                        //this.article.author='';
                        alert("Article Edited");
                        this.fetchArticles();
                        this.edit = false;
                    })
                    .catch(err=>console.log(err))
                }
            },
            editArticle(article)
            {
                this.edit = true;
                this.article.id = article.id;
                this.article.article_id = article.id;
                this.article.title=article.title;
                this.article.photo=article.photo;
                this.article.body=article.body;
            },
            viewDetails(article)
            {
                this.edit = false;
                this.article.id = article.id;
                this.article.article_id = article.id;
                this.article.title=article.title;
                this.article.photo=article.photo;
                this.article.body=article.body;
            },
            closeDetails(){
                
                this.edit = false;
                this.article.id = '';
                this.article.article_id = '';
                this.article.title='';
                this.article.photo='';
                this.article.body='';
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.article.photo = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            onChange(){
                this.fetchArticles();
            }
        }
    }
</script>