<template>
    <div class="container">
        <div class="card card-default mb-3">
            <div class="card-header">Admin Dashboard</div>
            <div class="card-body">
                Welcome to your administrator dashboard
            </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="articles-tab" data-toggle="tab" href="#articles" role="tab" aria-controls="articles" aria-selected="false">Articles</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
            <userList></userList>
        </div>
        <div class="tab-pane fade" id="articles" role="tabpanel" aria-labelledby="articles-tab">
            <articleList></articleList>
        </div>
        
      </div>
        
    </div>
</template>
<script>
  import userList from '../../components/user-list.vue'
  import articleList from '../../components/article-list.vue'
  export default {
    mounted() {
      //
    },
    components: {
      userList,
      articleList
    }
  }
</script>
